.player-wrapper {
  position: relative;
  width: 300px;
  height: 80px;
}

.player-wrapper iframe {
  width: 300px;
  height: 80px;
  border: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 40px;
  background-color: rgb(189, 117, 245);
  z-index: 10;
  pointer-events: none;
}
